<div class="course">
  <h1>{{course.title}}</h1>

  <img src="{{course.img}}" alt"{{course.title}}">

  {{#if course.contentLink}}
  <p class="content-link">Просмотреть курс  <a href="">{{course.contentLink}}</a></p>
  {{/if}}

  <p class="content">{{course.fullDescription}}</p>

  <p class="price big">{{course.price}}</p>
</div>
