{{!-- отрисовка страницы курсов --}}
<h1>Курсы</h1>
{{!-- если есть курсы --}}
{{#if courses.length}}
{{!-- для каждого курса "course.hbs" --}}
{{#each courses}}
{{!-- выводит новую табличку с курсом --}}
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        {{!-- выводит картинку этого курса "course.hbs" --}}
        <div class="card-image">
          <img src="{{img}}" alt="{{title}}">
        </div>
        {{!-- выводит контент этого курса "course.hbs" --}}
        <div class="card-content">
          {{!-- выводит название этого курса "course.hbs" --}}
          <span class="card-title">{{title}}</span>
          {{!-- выводит цену этого курса "course.hbs" --}}
          <p class="price">{{price}}</p>
        </div>
        {{!-- выводит список с кнопками(ссылками) --}}
        <div class="card-action actions">
          {{!-- кнопка "открыть курс" редиректит на страницу курса с его уникальным id --}}
          <a href="/courses/{{id}}" target="_blank">Открыть курс</a>
          {{#if @root.isAuth}}
          {{!-- кнопка "редактировать" редиректит на страницу редактирования курса "course-edit.hbs" --}}
          <a href="/courses/{{id}}/edit?allow=true">Редактировать</a>
          <form action="/card/add" method="POST">
          <input type="hidden" name="id" value="{{id}}" >
          {{!-- кнопка "купить" редиректит на корзину --}}
          <button type="submit" class="btn btn-primary">Купить</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
	{{/each}}
  {{!-- если курсов нет, то выводит надпись, что курсов нет --}}
{{else}}
<p>Курсов пока нет</p>
{{/if}}