<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Conpatible" content="ie=edge"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"
  integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw=="
  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/index.css">
	<title>{{title}}</title>
</head>



<body>

<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Приложение курсов</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
      <li class="active"><a href="/">Главная</a></li>
      {{else}}
      <li><a href="/">Главная</a></li>
      {{/if}}

      {{#if isCourses}}
      <li class="active"><a href="/courses">Курсы</a></li>
      {{else}}
      <li><a href="/courses">Курсы</a></li>
      {{/if}}

      {{#if isAdmin}}
      {{#if isAdd}}
      <li class="active"> <a href="/add">Добавить курс</a></li>
      {{else}}
      <li><a href="/add">Добавить курс</a></li>
      <li><a href="/consultation/requests">Заявки на консультацию</a></li>
      {{/if}}
      {{/if}}

      {{#if isAuth}}
      {{#if isSuperUser}}
      <li><a href="/consultation">Записаться на консультацию</a></li>
      {{/if}}
      <li><a href="/user">Личный кабинет</a></li>
      <li><a href="/auth/logout">Выйти</a></li>
      {{else}}
      {{#if isLogin}}
      <li class="active"> <a href="/auth/login#login">Войти</a></li>
      {{else}}
      <li><a href="/auth/login#login">Войти</a></li>
      {{/if}}

      {{/if}}



    </ul>
  </div>
</nav>

	<div class="container">
		{{{ body }}}
	</div>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script defer src="/app.js"></script>

</body>

</html>
