{{!-- отрисовка страницы заказов --}}
<h1>Мои заказы</h1>
{{!-- если есть заказы --}}
{{#if orders.length}}
{{!-- для каждого заказа --}}
	{{#each orders}}
    {{!-- выводит новую табличку с заказом --}}
		<div class="row">
			<div class="col s6 offset-s3">
				<div class="card">
					<div class="card-content">
            {{!-- выводит запись заказ + номер id заказа из БД --}}
						<span class="card-title">
							Заказ <small>{{_id}}</small>
						</span>
            {{!-- выводит дату и время заказа --}}
						<p class="date">{{date}}</p>
            {{!-- выводит имя и email клинета который сделал заказ --}}
						<p><em>{{user.userId.name}}</em>({{user.userId.email}})</p>
            {{!-- выводит нумерованный список добавленных курсов --}}
						<ol>
							{{#each courses}}
								<li>
									{{course.title}} (x<strong>{{count}}</strong>)
								</li>
								{{/each}}
						</ol>
						<hr>
            {{!-- выводит итоговую стоимость всех курсов --}}
						<p>Цена: <span class="price">{{price}}</span></p>
					</div>
				</div>
			</div>
		</div>
	{{/each}}
  {{!-- если закзов нет, то выводит, что нет заказов --}}
{{else}}
	<p>Заказов пока нет</p>
{{/if}}
